/* src/components/Categorias/Categorias.css */

.categorias-section {
    /* Fondo  */
    background-color: #f7f7f7; 
    padding: 40px 20px; 
    min-height: 70vh;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.categorias-section h2 {
    
    color: #4a2c2a; 
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 3px solid #8b5e3c; /* Línea de color para destacar */
    padding-bottom: 10px;
}

.categorias-section p {
    color: #333; 
    font-size: 1.2em;
    max-width: 800px;
    line-height: 1.6;
}


.category-list {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.category-list li {
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.category-list li:hover {
    background-color: #eee;
}